body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

.cards {
    opacity: 0.7;
    background: #222;
    border-radius: 30px;
    padding: 2em;
    margin: 1em;
    color: aliceblue;
}

.card-title {
    padding-bottom: 10px;
}

#search {
    height: 25px;
    border-radius: 10px;
}

button {
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}